<!doctype html>
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{site/site-head :: copy-head}">
    <title></title>
</head>

<body>
    <main>
        <div class="speakers_area">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="serction_title_large mb-95">
                            <h3>
                                Hello to our new Member
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-5 col-md-6">
                        <div th:object="${user}" class="single_speaker">
                            <div class="speaker_name text-center">
                                <h3 class="text-info">Registration success Message</h3>
                                <p class="text-dark-emphasis text-dark">
                                    Mr. <span th:text="*{identity.lastname + ' ' + identity.firstname}"></span> votre compte à été créée avec success.
                                    Consultez le mail que nous vous avons envoyé à l'adresse <span th:text="*{identity.email}" class="link-dark-light"></span>
                                    pour activer votre compte et vous connectez directement à ce dernier.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer class="footer footer_bg_1" th:replace="~{site/site-footer}"></footer>
</body>
</html>