<!doctype html>
<html class="no-js" lang="fr" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{site/site-head :: copy-head (title = 'Activation')}">
    <title></title>
</head>

<body>
    <main>
        <div class="speakers_area">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="serction_title_large mb-95">
                            <h3 th:text="#{activate.account.greeting}">
                                Bienvenue cher nouveau membre
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-5 col-md-6">
                        <div th:object="${user}" class="single_speaker">
                            <div class="speaker_name text-center">
                                <h3 th:text="#{activate.account.succes}" class="text-info">Message d'inscription réussie</h3>
                                <p class="text-body text-dark-emphasis text-dark">
                                    <span th:text="#{activate.account.msg.start}" >Mr/Mme.</span> <span th:text="*{identity.lastname + ' ' + identity.firstname}"></span> <span th:text="#{activate.account.msg.middle}">votre compte à été créée avec success.
                                    Consultez le mail que nous vous avons envoyé à l'adresse</span> <span th:text="*{identity.email}" class="link-dark-light"></span>
                                    <span th:text="#{activate.account.msg.end}">pour activer votre compte et vous connectez directement à ce dernier.</span>
                                </p>
                                <a class="btn btn-success mt-2" style="
                                             box-shadow: 0 0.5rem 1rem rgba(90,106,133, 0.15) !important;
                                             border-radius:2rem !important;"
                                   th:text="#{activate.account.go}" th:href="@{/register/activate/{id}/(id = *{id})}">Activer mon compte</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>