<!doctype html>
<html class="no-js" th:with="lang = ${#locale.language}" th:lang="${lang}" xmlns:th="http://www.thymeleaf.org" lang="fr">

<head th:replace="~{site/site-head :: copy-head(${title})}">
    <title></title>
</head>
<body>
    <!--[if lte IE 9]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
    <![endif]-->

    <!-- header-start -->
    <header th:replace="~{/site/site-nav :: navbar}"></header>
    <!-- header-end -->

    <!-- slider_area_start -->
    <div th:replace="~{site/site-sections :: site-section-slider-area(${title})}" class="slider_area slider_bg_1">
    </div>
    <!-- slider_area_end -->

    <!-- event_area_start -->
    <div class="event_area plus_padding">
        <h1 class="vr_text d-none d-lg-block" style="z-index: -1">Évènements</h1>
        <div class="container">
            <div th:each="event : ${events}" class="double_line">

                <div class="row col-xl-12 col-lg-12 col-12">
                    <article class="blog_item">
                        <div class="blog_item_img">
                            <img class="card-img rounded" src="/site/assets/img/blog/single_blog_5.png" alt="">
                            <a href="#" class="blog_item_date">
                                <h3 th:text="${event.startDateTime.dayOfMonth}">15</h3>
                                <h3 th:text="${event.startDateTime.month}">Jan</h3>
                                <p th:text="${event.startDateTime.year}">2025</p>
                            </a>
                        </div>
                        <div class="blog_details rounded">
                            <a class="d-inline-block" href="#">
                                <h2 th:text="${event.name}">Google inks pact for new 35-storey office</h2>
                            </a>
                            <p th:text="${event.description}">That dominion stars lights dominion divide years for fourth have don't stars is that
                                he earth it first without heaven in place seed it second morning saying.</p>
                            <ul class="blog-info-link">
                                <li><p><i class="fa fa-user"></i> Travel, Lifestyle</p></li>
                            </ul>
                            <a class="btn btn-outline-primary rounded" href="#">
                                <i class="fa fa-cart-plus"></i> Ajouter au panier
                            </a>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
    <!-- event_area_end -->

    
    <!-- resister_book_start -->
    <div class="resister_book resister_bg_1">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="resister_text text-center">
                        <h3>Inscrit toi maintenant<br>
                            Et achète un ticket pour ton évènement favoris</h3>
                        <a th:href="register" class="boxed-btn-white">S'inscrire maintenant</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- resister_book_end -->

    <!-- brand_area_start -->
    <div class="brand_area dec_padding">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="brand_active owl-carousel">
                        <div class="single_brand text-center">
                            <img src="/site/assets/img/barnd/1.png" alt="">
                        </div>
                        <div class="single_brand text-center">
                            <img src="/site/assets/img/barnd/2.png" alt="">
                        </div>
                        <div class="single_brand text-center">
                            <img src="/site/assets/img/barnd/3.png" alt="">
                        </div>
                        <div class="single_brand text-center">
                            <img src="/site/assets/img/barnd/4.png" alt="">
                        </div>
                        <div class="single_brand text-center">
                            <img src="/site/assets/img/barnd/5.png" alt="">
                        </div>
                        <div class="single_brand text-center">
                            <img src="/site/assets/img/barnd/6.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- brand_area_end -->

    <!-- footer_start -->
    <footer class="footer footer_bg_1" th:replace="~{site/site-footer}"></footer>
    <!-- footer_end -->
    <script type="application/javascript">
        document.getElementById("accueil").className = "";
        document.getElementById("event").className = "active";
    </script>
    
    </body>
    
    </html>