<!doctype html>
<html class="no-js" th:with="lang = ${#locale.language}" th:lang="${lang}" xmlns:th="http://www.thymeleaf.org" lang="fr">

<head th:replace="~{site/site-head :: copy-head(${title})}">
    <title></title>
</head>
<body>
    <!--[if lte IE 9]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
    <![endif]-->

    <!-- header-start -->
    <header th:replace="~{site/site-nav :: navbar}"></header>
    <!-- header-end -->

    <!-- slider_area_start -->
    <div th:replace="~{site/site-sections :: site-section-slider-area(${title})}" class="slider_area slider_bg_1">
    </div>
    <!-- slider_area_end -->

    <!-- faq_area_Start -->
    <div class="faq_area">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="serction_title_large mb-95">
                        <h3>
                            Questions Récurrentes
                        </h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12">
                    <div id="accordion">
                        <div class="card">
                            <div class="card-header" id="headingTwo">
                                <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" data-toggle="collapse"
                                        data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">

                                        <img src="/site/assets/img/barnd/info.png" alt=""/>Tendance est-elle payante?
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion"
                                style="">
                                <div class="card-body">
                                    L'application tendance est gratuite et dispose de forfaits payants qui vous offrent
                                    plus de possibilités et fonctionnalités surtout si vous êtes inscrit en tant que
                                    prestataire de service ou encore organisateur.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingOne">
                                <h5 class="mb-0">
                                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne"
                                        aria-expanded="true" aria-controls="collapseOne">
                                        <img src="/site/assets/img/barnd/info.png" alt=""/>
                                        Comment puis-je créer un événement sur la plateforme ?
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                                data-parent="#accordion" style="">
                                <div class="card-body">
                                    Pour créer un événement, connectez-vous à votre compte d'organisateur et accédez à
                                    la section "Créer un événement". Remplissez les détails requis tels que le titre de
                                    l'événement, la description, la date, l'heure, le lieu et le type d'événement
                                    (concert, conférence, fête, festival, webinaire). Une fois toutes les informations
                                    saisies, cliquez sur "Publier" pour mettre votre événement en ligne.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingThree">
                                <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" data-toggle="collapse"
                                        data-target="#collapseThree" aria-expanded="false"
                                        aria-controls="collapseThree">
                                        <img src="/site/assets/img/barnd/info.png" alt="">
                                        Quels modes de paiement sont acceptés pour l'achat de billets ?
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                                data-parent="#accordion" style="">
                                <div class="card-body">
                                    Nous acceptons plusieurs modes de paiement, y compris les cartes de crédit (Visa,
                                    MasterCard, American Express), PayPal et les services de paiement mobile comme
                                    Google Pay et Apple Pay. Tous les paiements sont sécurisés et vos informations
                                    financières sont protégées.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingFour">
                                <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" data-toggle="collapse"
                                        data-target="#collapseFour" aria-expanded="false"
                                        aria-controls="collapseFour">
                                        <img src="/site/assets/img/barnd/info.png" alt="">
                                        Comment puis-je vérifier si mon billet a été acheté avec succès ?
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseFour" class="collapse" aria-labelledby="headingFour"
                                data-parent="#accordion" style="">
                                <div class="card-body">
                                    Après avoir complété l'achat de votre billet, vous recevrez une
                                    confirmation par e-mail avec les détails de votre billet. Vous pouvez également
                                    vérifier vos achats en vous connectant à votre compte et en accédant à la section
                                    "Mes billets". Si vous ne recevez pas de confirmation ou si vous avez des doutes,
                                    veuillez contacter notre support client.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingFive">
                                <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" data-toggle="collapse"
                                        data-target="#collapseFive" aria-expanded="false"
                                        aria-controls="headingFive">
                                        <img src="/site/assets/img/barnd/info.png" alt="">
                                        Puis-je modifier les informations de mon événement après l'avoir publié ?
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseFive" class="collapse" aria-labelledby="headingFive"
                                data-parent="#accordion" style="">
                                <div class="card-body">
                                    Oui, vous pouvez modifier les informations de votre événement après l'avoir publié.
                                    Accédez à la section "Mes événements" dans votre compte d'organisateur, sélectionnez
                                    l'événement que vous souhaitez modifier, puis apportez les changements nécessaires.
                                    Assurez-vous de sauvegarder les modifications pour qu'elles soient mises à jour en
                                    ligne.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="heading_4">
                                <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" data-toggle="collapse"
                                        data-target="#collapse_4" aria-expanded="false" aria-controls="collapse_4">
                                        <img src="/site/assets/img/barnd/info.png" alt=""> Qui êtes-vous?
                                    </button>
                                </h5>
                            </div>
                            <div id="collapse_4" class="collapse" aria-labelledby="heading_4" data-parent="#accordion"
                                style="">
                                <div class="card-body">
                                    Nous vous convions à lire le contenu de notre page <strong><a th:href="about" href="#" >À Propos</a></strong>.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <h4>Des Inquiétudes</h4>
                <div class="col-xl-12 align-items-center align-content-center">
                    <a href="https://t.me/TendanceEventFaqsBot" target="_blank" class="btn boxed-btn mb-1 px-4 fs-4 bg-primary-subtle"><i class="bi bi-telegram"></i> Parlez à notre assistant sur Telegram</a>
                    <a href="https://discord.gg/QN7wYPat" target="_blank" class="btn boxed-btn mb-1 px-4 fs-4 bg-primary-subtle"><i class="bi bi-discord"></i> Rejoignez la communauté Discord</a>
                </div>
            </div>
        </div>
    </div>
    <!-- faq_area_end -->
    
    <!-- footer_start -->
    <footer class="footer footer_bg_1" th:replace="~{site/site-footer}"></footer>
    <!-- footer_end -->
    <script type="application/javascript">
        document.getElementById("accueil").className = "";
        document.getElementById("faq").className = "active";
    </script>
    
    </body>
    
    </html>