<!doctype html>
<html class="no-js" th:with="lang = ${#locale.language}" th:lang="${lang}" xmlns:th="http://www.thymeleaf.org" lang="fr">

<head th:replace="~{site/site-head :: copy-head(${title})}">
    <title></title>
</head>

<body>
    <!--[if lte IE 9]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
    <![endif]-->

    <!-- header-start -->
    <header th:replace="~{site/site-nav :: navbar}"></header>
    <!-- header-end -->

    <!-- slider_area_start -->
    <div class="slider_area slider_bg_1">
        <div class="slider_text">
            <div class="container">
                <div class="position_relv">
                    <h1 class="opcity_text d-none d-lg-block">TENDANCE</h1>
                    <div class="row">
                        <div class="col-xl-9">
                            <div class="title_text">
                                <h3>Tendance <br>
                                    Votre WebApp <br>
                                    Pour tous vos évènements</h3>
                                <a href="#" class="boxed-btn-white">Commencez l'expérience</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="countDOwn_area" th:replace="~{site/site-sections :: site-section-countdown}">
        </div>
    </div>
    <!-- slider_area_end -->


    <!-- speakers_start -->
    <div class="speakers_area">
        <h1 class="horizontal_text d-none d-lg-block">
            Tendance
        </h1>
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="serction_title_large mb-95">
                        <h3>
                            Derniers évènements
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- speakers_end-->

    <!-- section evenement d -->
    <div th:replace="~{site/site-sections :: section-event(${events})}">
    </div>
    <!-- section evenement f -->
    
    <!-- resister_book_start -->
    <div class="resister_book resister_bg_1">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="resister_text text-center">
                        <h3>Check Les évènements</h3>
                        <a th:href="events" class="boxed-btn-white">Voir Maintenant </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- resister_book_end -->

    <!-- brand_area_start -->
    <div class="brand_area">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="brand_active owl-carousel">
                        <div class="single_brand text-center">
                            <img src="/site/assets/img/barnd/1.png" alt="">
                        </div>
                        <div class="single_brand text-center">
                            <img src="/site/assets/img/barnd/2.png" alt="">
                        </div>
                        <div class="single_brand text-center">
                            <img src="/site/assets/img/barnd/3.png" alt="">
                        </div>
                        <div class="single_brand text-center">
                            <img src="/site/assets/img/barnd/4.png" alt="">
                        </div>
                        <div class="single_brand text-center">
                            <img src="/site/assets/img/barnd/5.png" alt="">
                        </div>
                        <div class="single_brand text-center">
                            <img src="/site/assets/img/barnd/6.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- brand_area_end -->

    <!-- footer_start -->
    <footer class="footer footer_bg_1" th:replace="~{site/site-footer}"></footer>
    <!-- footer_end -->
</body>

</html>