<!doctype html>
<html class="no-js" lang="fr" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{site/site-head :: copy-head (title = 'Email de réinitialisation de mot de passe envoyé')}">
    <title></title>
</head>

<body>
    <main>
        <div class="speakers_area">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="serction_title_large mb-95">
                            <h3>
                                Vous y êtes presque
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-5 col-md-6">
                        <div class="single_speaker">
                            <div class="speaker_name text-center">
                                <h3 class="text-info">Nous vous avons envoyé un email </h3>
                                <p class="text-body text-dark-emphasis text-dark">Consulter votre boîte,<span
                                        class="text text-info text bold" th:text="${reset.email}"></span>
                                    vous avez reçu un email vous permettant de réinitialiser votre mot de passe.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>