<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="copy-head(title)">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1 , shrink-to-fit=no">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="Tendance" name="keywords">
        <meta content="Achter les billets de vos évènements .Créer, Gérer vos évenèments grâce à Tendance" name="description">
        <meta name="apple-mobile-web-app-capable" content="yes" />

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title th:text="'Tendance - ' + ${title} ">Tendance</title>

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

        <!-- favicons
        ================================================== -->
        <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
        <link rel="manifest" href="/favicon/site.webmanifest">

        <!-- CSS -->
        <link rel="stylesheet" href="/site/assets/css/bootstrap.min.css">
        <link rel="stylesheet" href="/site/assets/css/owl.carousel.min.css">
        <link rel="stylesheet" href="/site/assets/css/magnific-popup.css">
        <link rel="stylesheet" href="/site/assets/css/font-awesome.min.css">
        <link rel="stylesheet" href="/site/assets/css/themify-icons.css">
        <link rel="stylesheet" href="/site/assets/css/nice-select.css">
        <link rel="stylesheet" href="/site/assets/css/flaticon.css">
        <link rel="stylesheet" href="/site/assets/css/animate.css">
        <link rel="stylesheet" href="/site/assets/css/slicknav.css">
        <link rel="stylesheet" href="/site/assets/css/style.css">

    </head>
</html>