<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <body>
        <header th:fragment="navbar">
            <div class="header-area ">
                <div id="sticky-header" class="main-header-area ">
                    <div class="container-fluid p-0">
                        <div class="row align-items-center justify-content-between no-gutters">
                            <div class="col-xl-2 col-lg-2">
                                <div class="logo-img">
                                    <a href="/">
                                        <img src="/assets/images/logo.png" alt="Tendance" width="205" height="45">
                                    </a>
                                </div>
                            </div>
                            <div class="col-xl-10 col-lg-10">
                                <div class="main-menu  d-none d-lg-block">
                                    <nav>
                                        <ul id="navigation">
                                            <li><a id="accueil" class="active" href="/">Accueil</a></li>
                                            <li><a id="event" th:href="events">Évènements</a></li>
                                            <li><a id="contact" th:href="contact">Contact</a></li>
                                            <li><a id="about" th:href="about">À Propos</a></li>
                                            <li><a id="cart" th:href="cart">Panier</a></li>
                                            <li><a th:href="login">Se Connecter</a></li>
                                            <li><a th:href="dashboard">Mon Compte</a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="mobile_menu d-block d-lg-none"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    </body>
</html>