<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<footer class="footer footer_bg_1" th:fragment="copy-footer">
    <div class="circle_ball d-none d-lg-block">
        <img src="/site/assets/img/banner/footer_ball.png" alt="">
    </div>
    <div class="footer_top">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-md-4 col-lg-4">
                    <div class="footer_widget">
                        <h3 class="footer_title">
                            Suivez-Nous
                        </h3>
                        <ul>
                            <li><a target="_blank" href="https://discord.gg/QN7wYPat"><i class="bi bi-discord"></i> Discord</a></li>
                            <li><a target="_blank" href="https://t.me/tendance_event"><i class="bi bi-telegram"></i> Telegram</a></li>
                            <li><a target="_blank" href="https://github.com/tendance"><i class="bi bi-github"></i> Github</a></li>
                        </ul>

                    </div>
                </div>
                <div class="col-xl-4 col-md-4 col-lg-4">
                    <div class="footer_widget">
                        <h3 class="footer_title">
                            Liens Utiles
                        </h3>
                        <ul>
                            <li><a target="_blank" th:href="about">À Propos</a></li>
                            <li><a target="_blank" th:href="faq">FAQ</a></li>
                            <li><a target="_blank" th:href="contact">Contact</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4 col-lg-4">
                    <div class="footer_widget">
                        <h3 class="footer_title">
                            Adresse
                        </h3>
                        <p>
                            <i class="bi bi-geo"></i> Zanguera, Lomé, Maritime TOGO <br>
                            <i class="bi bi-envelope"></i> mpetrivlin@gmail.com <br>
                            <i class="bi bi-telephone"></i> +228 99 15 72 74
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copy-right_text">
        <div class="container">
            <div class="footer_border"></div>
            <div class="row">
                <div class="col-xl-12">
                    <p class="copy_right text-center">
                        Copyright &copy;<script>document.write(new Date().getFullYear());</script>
                        All rights reserved | <i class="fa fa-calculator" aria-hidden="true"></i> by <a
                            href="https://fapethedev.github.io/fapethedev" target="_blank">Fapethedev</a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!-- JS -->
    <script src="/site/assets/js/vendor/modernizr-3.5.0.min.js"></script>
    <script src="/site/assets/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="/site/assets/js/popper.min.js"></script>
    <script src="/site/assets/js/bootstrap.min.js"></script>
    <script src="/site/assets/js/owl.carousel.min.js"></script>
    <script src="/site/assets/js/isotope.pkgd.min.js"></script>
    <script src="/site/assets/js/ajax-form.js"></script>
    <script src="/site/assets/js/waypoints.min.js"></script>
    <script src="/site/assets/js/jquery.counterup.min.js"></script>
    <script src="/site/assets/js/imagesloaded.pkgd.min.js"></script>
    <script src="/site/assets/js/scrollIt.js"></script>
    <script src="/site/assets/js/jquery.scrollUp.min.js"></script>
    <script src="/site/assets/js/wow.min.js"></script>
    <script src="/site/assets/js/nice-select.min.js"></script>
    <script src="/site/assets/js/jquery.slicknav.min.js"></script>
    <script src="/site/assets/js/jquery.magnific-popup.min.js"></script>
    <script src="/site/assets/js/jquery.countdown.js"></script>
    <script src="/site/assets/js/plugins.js"></script>

    <!--contact js-->
    <script src="/site/assets/js/contact.js"></script>
    <script src="/site/assets/js/jquery.ajaxchimp.min.js"></script>
    <script src="/site/assets/js/jquery.form.js"></script>
    <script src="/site/assets/js/jquery.validate.min.js"></script>
    <script src="/site/assets/js/mail-script.js"></script>

    <script src="/site/assets/js/main.js"></script>
</footer>
</body>
</html>