<!DOCTYPE html>
<html th:with="lang = ${#locale.language}" th:lang="${lang}" dir="ltr" data-bs-theme="light" data-color-theme="Blue_Theme"
      data-layout="vertical" xmlns:th="http://www.thymeleaf.org" lang="aa">

<head th:replace="~{dashboard/frag-dash-head :: head (title = 'Réinitialiser le mot de passe')}"><title></title></head>

<body>

<div th:replace="~{dashboard/frag-dash-onload :: preloader}"></div>

<div id="main-wrapper">

    <div class="position-relative overflow-hidden radial-gradient min-vh-100 w-100 d-flex align-items-center justify-content-center">
        <div class="d-flex align-items-center justify-content-center w-100">
            <div class="row justify-content-center w-100">
                <div class="col-md-8 col-lg-6 col-xxl-3 auth-card">
                    <div class="card mb-0">
                        <div class="card-body pt-5">
                            <a th:href="@{/}" class="text-nowrap logo-img text-center d-block mb-4 w-100">
                                <img src="/assets/images/logo.png" width="180" class="light-logo" alt="Logo-light"/>
                            </a>
                            <div class="mb-5 text-center">
                                <p class="mb-0 ">
                                    Veuillez entrer votre adresse mail et nous vous enverrons un mail de
                                    réinitialisation de mot de passe !
                                </p>
                            </div>
                            <form action="#" th:action="@{/login/forgot-password/ask-password-reset}" th:object="${reset}" method="post">
                                <div th:if="${#fields.hasErrors('email')}" class="alert bg-warning-subtle text-info alert-dismissible fade show" role="alert">
                                    <div class="d-flex align-items-center text-danger">
                                        <i class="ti ti-info-circle me-2 fs-4"></i>
                                        <span th:errors="*{email}"></span>
                                    </div>
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
                                <div class="col-12">
                                    <div class="input-group mb-3 shadow-sm">
                                    <span id="emI" class="input-group-text"><i
                                            class="bi bi-envelope-at-fill"></i></span>
                                        <div class="form-floating">
                                            <input type="email" class="form-control" id="email" name="email" th:field="*{email}"
                                                   placeholder="Entrer votre adresse email" aria-describedby="email Feedback" required>
                                            <label for="email" class="" th:text="#{dash.register.form.email}">Adresse Email</label>
                                        </div>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-danger w-100 py-8 mb-3 rounded-5 shadow">Envoyer</button>
                                <a th:href="@{/login}" class="btn bg-primary-subtle text-primary w-100 py-8 rounded-5 shadow">Retour</a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer th:replace="~{dashboard/frag-dash-footer :: footer}"></footer>
</body>

</html>