<!doctype html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{dashboard/frag-dash-head :: head (title = ${title})}"><title></title></head>

<body>

<div th:replace="~{dashboard/frag-dash-onload :: preloader}"></div>

  <!--  Body Wrapper -->
  <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
       data-sidebar-position="fixed" data-header-position="fixed">
      <div class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center">
          <div class="d-flex align-items-center justify-content-center w-100">
              <div class="row justify-content-center w-100">
                  <div class="col-md-8 col-lg-6 col-xxl-3">
                      <div class="card mb-0 shadow-lg">
                          <div class="card-body">
                              <a th:href="@{/}" class="text-center text-nowrap text-black logo-img text-center d-block py-3 w-100">
                                  <img src="/assets/images/logo.png" width="180" alt="">
                              </a>

                              <p th:text="${title}" class="text-center text-dark">Inscription</p>

                              <form action="#" th:action="@{/register/save}" th:object="${user}" method="post">
                                  <fieldset class="row">
                                      <div class="col-md-6">
                                          <div class="input-group mb-3 shadow-sm">
                                              <span id="lstI" class="input-group-text"><i class="bi bi-person-circle"></i></span>
                                              <div class="form-floating">
                                                  <input type="text" class="form-control" id="lastname" name="lastname" th:field="*{lastname}"
                                                         th:placeholder="#{dash.register.form.lastname}" aria-describedby="lstI lstFeedback" required>
                                                  <label for="lastname" th:text="#{dash.register.form.lastname}">Nom</label>
                                              </div>
                                          </div>
                                          <div id="lstFeedback" class="">
                                              <p th:if="${#fields.hasErrors('lastname')}" th:errors="*{lastname}" th:errorclass="fieldError" class="text-danger small"></p>
                                          </div>
                                      </div>

                                      <div class="col-md-6">
                                          <div class="form-floating mb-3 shadow-sm">
                                              <input type="text" class="form-control" id="firstname" name="firstname" th:field="*{firstname}"
                                                     th:placeholder="#{dash.register.form.firstname}" aria-describedby="fstFeedback" required>
                                              <label for="firstname" class="" th:text="#{dash.register.form.firstname}">Prénom(s)</label>
                                          </div>
                                          <div id="fstFeedback" class="">
                                              <p th:if="${#fields.hasErrors('firstname')}" th:errors="*{firstname}" th:errorclass="fieldError" class="text-danger small"></p>
                                          </div>
                                      </div>

                                      <div class="col-12">
                                          <div class="input-group mb-3 shadow-sm">
                                              <span id="emI" class="input-group-text"><i class="bi bi-envelope-at-fill"></i></span>
                                              <div class="form-floating">
                                                  <input type="email" class="form-control" id="email" name="email" th:field="*{email}"
                                                         th:placeholder="#{dash.register.form.email}" aria-describedby="emI emFeedback" required>
                                                  <label for="email" class="" th:text="#{dash.register.form.email}">Adresse Email</label>
                                              </div>
                                          </div>
                                          <div id="emFeedback" class="">
                                              <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" th:errorclass="fieldError" class="text-danger small"></p>
                                          </div>
                                      </div>
                                  </fieldset>

                                  <fieldset class="row">
                                      <div class="col-md-6">
                                          <div class="input-group mb-3 shadow-sm">
                                              <span id="cntI" class="input-group-text"><i class="bi bi-globe"></i></span>
                                              <div class="form-floating">
                                                  <input type="text" class="form-control" id="country" name="country" th:field="*{country}"
                                                         th:placeholder="#{dash.register.form.country}" aria-describedby="cntI cntFeedback" required>
                                                  <label for="country" class="" th:text="#{dash.register.form.country}">Pays</label>
                                              </div>
                                          </div>
                                          <div id="cntFeedback" class="">
                                              <p th:if="${#fields.hasErrors('country')}" th:errors="*{country}" th:errorclass="fieldError" class="text-danger small"></p>
                                          </div>
                                      </div>
                                      <div class="col-md-6">
                                          <div class="form-floating mb-3 shadow-sm">
                                              <input type="text" class="form-control" id="city" name="city" th:field="*{city}"
                                                 th:placeholder="#{dash.register.form.city}" aria-describedby="cityFeedback" required>
                                              <label for="city" class="" th:text="#{dash.register.form.city}">Ville</label>
                                          </div>
                                          <div id="cityFeedback" class="">
                                              <p th:if="${#fields.hasErrors('city')}" th:errors="*{city}" th:errorclass="fieldError" class="text-danger small"></p>
                                          </div>
                                      </div>

                                      <div class="col-12">
                                          <div class="input-group mb-3 shadow-sm">
                                              <span id="phoneI" class="input-group-text"><i class="bi bi-telephone-fill"></i></span>
                                              <div class="form-floating">
                                                  <input type="tel" class="form-control" id="phone" name="" th:field="*{phone}"
                                                         th:placeholder="#{dash.register.form.phone}" aria-describedby="phoneI phoneFeedback" required>
                                                  <label for="phone" class="" th:text="#{dash.register.form.phone}">Numéro de téléphone</label>
                                              </div>
                                          </div>
                                          <div id="phoneFeedback" class="">
                                              <p th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}" th:errorclass="fieldError" class="text-danger small"></p>
                                          </div>
                                      </div>
                                  </fieldset>

                                  <fieldset>
                                      <div class="col-12">
                                          <div class="input-group mb-3 shadow-sm">
                                              <span id="pwdI" class="input-group-text"><i class="bi bi-shield-lock-fill"></i></span>
                                              <div class="form-floating">
                                                  <input type="password" class="form-control" id="password" name="password" th:field="*{password}"
                                                         th:placeholder="#{dash.register.form.password}" aria-describedby="pwdI pwdFeedback" required>
                                                  <label for="password" class="" th:text="#{dash.register.form.password}">Mot de Passe</label>
                                              </div>
                                          </div>
                                          <div id="pwdFeedback" class="">
                                              <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" th:errorclass="fieldError" class="text-danger small"></p>
                                          </div>
                                      </div>
                                  </fieldset>

                                  <div class="d-flex align-items-start small">
                                      <p class="text-danger text-danger-emphasis">
                                          <span class="small">(*)</span><span th:text="#{dash.form.allFieldsRequired}">Tous les champs sont obligatoires</span> !
                                      </p>
                                  </div>

                                  <button type="submit" class="btn btn-primary d-block w-100 py-8 fs-4 mb-4 rounded-5 shadow" th:text="#{dash.form.getRegistration}">S'inscrire</button>

                                  <div class="position-relative text-center my-4">
                                      <p class="mb-0 fs-4 px-3 d-inline-block bg-body text-dark z-index-5 position-relative" style="z-index: 5"
                                            th:text="#{dash.form.secondChoice}">
                                          Ou S'inscrire avec
                                      </p><span class="border-top w-100 position-absolute top-50 start-50 translate-middle"></span>
                                  </div>

                                  <div class="d-flex align-items-center justify-content-center">
                                      <a th:href="@{/oauth2/authorization/google}" class="btn btn-outline-info w-25 m-2 fs-4 rounded-5 shadow" data-bs-toggle="tooltip"
                                         data-th-title="#{dash.form.googleRegistration}" data-bs-placement="left">
                                          <i class="bi bi-google"></i>
                                      </a>
                                      <a th:href="@{/oauth2/authorization/github}" class="btn btn-outline-dark w-25 m-2 fs-4 rounded-5 shadow" data-bs-toggle="tooltip"
                                         data-th-title="#{dash.form.githubRegistration}" data-bs-placement="right">
                                          <i class="bi bi-github"></i>
                                      </a>
                                  </div>
                                  <div class="d-flex align-items-center justify-content-center">
                                      <p class="fs-4 mb-0 fw-bold" th:text="#{dash.form.alreadyRegistered}">Déja Inscrit?</p>
                                      <a class="text-primary fw-bold ms-2" th:text="#{dash.login.title}" th:href="@{/login}">Se Connecter</a>
                                  </div>
                              </form>

                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <footer th:replace="~{dashboard/frag-dash-footer}"></footer>
  <script src="/dashboard/assets/js/custom.js"></script>

</body>

</html>