<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<body>

    <footer th:fragment="footer">
        <div class="dark-transparent sidebartoggler"></div>

        <script src="/dashboard/assets/js/vendor.min.js"></script>
        <!-- Import Js Files -->
        <script src="/dashboard/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="/dashboard/assets/libs/simplebar/dist/simplebar.min.js"></script>
        <script src="/dashboard/assets/js/theme/app.init.js"></script>
        <script src="/dashboard/assets/js/theme/theme.js"></script>
        <script src="/dashboard/assets/js/theme/app.min.js"></script>
        <script src="/dashboard/assets/js/theme/sidebarmenu.js"></script>

        <!-- solar icons -->
        <script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.8/dist/iconify-icon.min.js"></script>
        <script src="/dashboard/assets/libs/owl.carousel/dist/owl.carousel.min.js"></script>
        <script src="/dashboard/assets/libs/apexcharts/dist/apexcharts.min.js"></script>
        <script src="/dashboard/assets/js/dashboards/dashboard.js"></script>
    </footer>

</body>
