<!DOCTYPE html>
<html th:lang="${#locale.getDefault()}" lang="fr" dir="ltr" data-bs-theme="light" data-color-theme="Blue_Theme" data-layout="vertical" xmlns:th="http://www.thymeleaf.org">
  <head th:replace="~{dashboard/frag-dash-head :: head (title = 'FAQs')}"><title></title></head>

  <body th:object="${user}">

    <div th:replace="~{dashboard/frag-dash-onload :: on-load ('Hmmm ' + *{username}, 'des questions ?')}"></div>

    <div id="main-wrapper">

      <aside class="left-sidebar with-vertical">
          <div>
            <!-- ---------------------------------- -->
            <!-- Start Vertical Layout Sidebar -->
            <!-- ---------------------------------- -->
            <!-- Brand -->
            <div th:replace="~{dashboard/frag-dash-nav-brand:: nav-brand}"></div>

            <nav th:replace="~{dashboard/frag-dash-navbar:: nav-sidebar}"></nav>

            <div class="fixed-profile p-3 mx-4 mb-2 bg-danger-subtle rounded mt-3">
              <div class="hstack gap-3">
                <div class="john-img">
                  <img th:if="*{account.picture == null}" src="/dashboard/assets/images/profile/user-1.jpg" class="rounded-circle" width="40" height="40" alt=""/>
                  <img th:unless="*{account.picture == null}"  th:src="*{account.picture}" class="rounded-circle" width="40" height="40" alt=""/>
                </div>

                <div class="john-title">
                  <h6 th:text="*{identity.lastname}" class="mb-0 fs-4 fw-semibold">Mathew</h6>
                  <span th:text="*{username}" class="fs-2">Designer</span>
                </div>
                <button class="border-0 bg-transparent text-danger ms-auto" tabindex="0" type="button" aria-label="logout" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="logout">
                  <i class="ti ti-power fs-6"></i>
                </button>
              </div>
            </div>

            <!-- ---------------------------------- -->
            <!-- Start Vertical Layout Sidebar -->
            <!-- ---------------------------------- -->
          </div>
        </aside>
        <!--  Sidebar End -->

        <div class="page-wrapper">
          <!--  Header Start -->
          <header class="topbar">
            <div class="with-vertical">
              <!-- ---------------------------------- -->
              <!-- Start Vertical Layout Header -->
              <!-- ---------------------------------- -->
              <nav th:replace="~{dashboard/frag-dash-navbar :: nav-topbar (*{identity.lastname}, *{identity.firstname}, *{username}, *{account.picture}, *{roles.get(0).name})}" class="navbar navbar-expand-lg p-0"></nav>
              <!-- ---------------------------------- -->
              <!-- End Vertical Layout Header -->
              <!-- ---------------------------------- -->

              <!-- ------------------------------- -->
              <!-- apps Dropdown in Small screen -->
              <!-- ------------------------------- -->
              <!--  Mobilenavbar -->
              <div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="mobilenavbar" aria-labelledby="offcanvasWithBothOptionsLabel">
                <nav th:replace="~{dashboard/frag-dash-navbar :: mobile-nav-topbar}"></nav>
              </div>
            </div>

            <div class="app-header with-horizontal">

              <nav th:replace="~{dashboard/frag-dash-navbar :: app-header-navbar}"></nav>

            </div>
          </header>
          <!--  Header End -->
          <aside class="left-sidebar with-horizontal">
            <!-- Sidebar scroll-->
            <div>
              <!-- Sidebar navigation-->
              <nav th:replace="~{dashboard/frag-dash-navbar :: left-nav-sidebar}"></nav>
              <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
          </aside>

          <div class="body-wrapper">
            <div class="container-fluid">
              <div class="card bg-info-subtle shadow-none position-relative overflow-hidden mb-4">
                <div class="card-body px-4 py-3">
                  <div class="row align-items-center">
                    <div class="col-9">
                      <h4 class="fw-semibold mb-8">FAQs</h4>
                      <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                          <li class="breadcrumb-item">
                            <a class="text-muted text-decoration-none" th:href="@{/dashboard}" href="#">Accueil</a>
                          </li>
                          <li class="breadcrumb-item" aria-current="page">FAQs</li>
                        </ol>
                      </nav>
                    </div>
                    <div class="col-3">
                      <div class="text-center mb-n5">
                        <img
                                src="/dashboard/assets/images/breadcrumb/ChatBc.png"
                                alt=""
                                class="img-fluid mb-n4"
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="card w-100 position-relative overflow-hidden">
                <div class="px-4 py-3 border-bottom">
                  <div class="row justify-content-center">
                    <div class="col-lg-8">
                      <div class="text-center mb-7">
                        <h3 class="fw-semibold">Frequently asked questions</h3>
                        <p class="fw-normal mb-0 fs-4">Get to know more about ready-to-use admin dashboard templates</p>
                      </div>
                      <div class="accordion accordion-flush mb-5 card position-relative overflow-hidden"
                           id="accordionFlushExample">
                        <div class="accordion-item">
                          <h2 class="accordion-header" id="flush-headingOne">
                            <button class="accordion-button collapsed fs-4 fw-semibold shadow-none" type="button"
                                    data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false"
                                    aria-controls="flush-collapseOne">
                              What is an Admin Dashboard?
                            </button>
                          </h2>
                          <div id="flush-collapseOne" class="accordion-collapse collapse"
                               aria-labelledby="flush-headingOne"
                               data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body fw-normal">
                              Admin Dashboard is the backend interface of a website or an application that helps to
                              manage
                              the
                              website's overall content and settings. It is widely used by the site owners to keep track
                              of
                              their website,
                              make changes to their content, and more.
                            </div>
                          </div>
                        </div>
                        <div class="accordion-item">
                          <h2 class="accordion-header" id="flush-headingTwo">
                            <button class="accordion-button collapsed fs-4 fw-semibold shadow-none" type="button"
                                    data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false"
                                    aria-controls="flush-collapseTwo">
                              What should an admin dashboard template include?
                            </button>
                          </h2>
                          <div id="flush-collapseTwo" class="accordion-collapse collapse"
                               aria-labelledby="flush-headingTwo"
                               data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body fw-normal">
                              Admin dashboard template should include user & SEO friendly design with a variety of
                              components
                              and
                              application designs to help create your own web application with ease. This could include
                              customization
                              options, technical support and about 6 months of future updates.
                            </div>
                          </div>
                        </div>
                        <div class="accordion-item">
                          <h2 class="accordion-header" id="flush-headingThree">
                            <button class="accordion-button collapsed fs-4 fw-semibold shadow-none" type="button"
                                    data-bs-toggle="collapse" data-bs-target="#flush-collapseThree"
                                    aria-expanded="false"
                                    aria-controls="flush-collapseThree">
                              Why should I buy admin templates from AdminMart?
                            </button>
                          </h2>
                          <div id="flush-collapseThree" class="accordion-collapse collapse"
                               aria-labelledby="flush-headingThree"
                               data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body fw-normal">
                              Adminmart offers high-quality templates that are easy to use and fully customizable. With
                              over
                              101,801
                              happy customers & trusted by 10,000+ Companies. AdminMart is recognized as the leading
                              online
                              source
                              for buying admin templates.
                            </div>
                          </div>
                        </div>
                        <div class="accordion-item">
                          <h2 class="accordion-header" id="flush-headingfour">
                            <button class="accordion-button collapsed fs-4 fw-semibold shadow-none" type="button"
                                    data-bs-toggle="collapse" data-bs-target="#flush-collapsefour" aria-expanded="false"
                                    aria-controls="flush-collapsefour">
                              Do Adminmart offers a money back guarantee?
                            </button>
                          </h2>
                          <div id="flush-collapsefour" class="accordion-collapse collapse"
                               aria-labelledby="flush-headingfour"
                               data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body fw-normal">
                              There is no money back guarantee in most companies, but if you are unhappy with our
                              product,
                              Adminmart
                              gives you a 100% money back guarantee.
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card bg-primary-subtle rounded-2">
                    <div class="card-body text-center">
                      <div class="d-flex align-items-center justify-content-center mb-4 pt-8">
                        <a href="page-faq.html#">
                          <img src="/dashboard/assets/images/profile/user-2.jpg"
                               class="rounded-circle me-n2 card-hover border border-2 border-white" width="44"
                               height="44">
                        </a>
                        <a href="page-faq.html#">
                          <img src="/dashboard/assets/images/profile/user-3.jpg"
                               class="rounded-circle me-n2 card-hover border border-2 border-white" width="44"
                               height="44">
                        </a>
                        <a href="page-faq.html#">
                          <img src="/dashboard/assets/images/profile/user-4.jpg"
                               class="rounded-circle me-n2 card-hover border border-2 border-white" width="44"
                               height="44">
                        </a>
                      </div>
                      <h3 class="fw-semibold">Still have questions</h3>
                      <p class="fw-normal mb-4 fs-4">Can't find the answer your're looking for ? Please chat to our
                        friendly
                        team.</p>
                      <button type="button" class="btn mb-1 px-4 fs-4 bg-primary-subtle text-primary"
                              data-bs-toggle="modal" data-bs-target="#question-modal" data-bs-whatever="question">
                        <i class="bi bi-question-circle"></i> Posez-nous directement votre question.
                      </button>
                      <div class="modal fade" id="question-modal" tabindex="-1" aria-labelledby="question-title">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header d-flex align-items-center">
                              <h4 class="modal-title" id="question-title">
                                Nouvelle Question
                              </h4>
                              <button type="button" class="btn-close" data-bs-dismiss="modal"
                                      aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                              <form method="post">
                                <div class="align-items-start mb-3">
                                  <label for="email" class="control-label">Email</label>
                                  <input type="email" disabled class="form-control" id="email" th:value="*{username}"
                                         th:field="*{username}"/>
                                </div>
                                <div class="align-items-start mb-3">
                                  <label for="question" class="control-label">Question:</label>
                                  <textarea class="form-control" id="question"
                                            placeholder="Posez votre question"></textarea>
                                </div>
                              </form>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn bg-danger-subtle text-danger" data-bs-dismiss="modal">
                                Fermer
                              </button>
                              <button type="button" class="btn btn-success">
                                <i class="bi bi-send"></i> Envoyer
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>

                      <a href="https://t.me/TendanceEventFaqsBot" target="_blank" class="btn mb-1 px-4 fs-4 bg-primary-subtle text-primary"><i class="bi bi-telegram"></i> Continuez sur Telegram</a>
                      <a href="https://discord.gg/QN7wYPat" target="_blank" class="btn mb-1 px-4 fs-4 bg-primary-subtle text-primary"><i class="bi bi-discord"></i> Continuez sur Discord</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Settings -->
          <div th:replace="~{dashboard/frag-dash-app-settings :: app-settings}"></div>
      </div>

      <!--  Search Bar -->
      <div th:replace="~{dashboard/frag-dash-searchbar :: search-bar}"></div>
      <!--  Shopping Cart -->
      <div th:replace="~{dashboard/frag-dash-shopping-cart :: shopping-cart}"></div>
    </div>

    <footer th:replace="~{dashboard/frag-dash-footer :: footer}"></footer>
</body>

</html>