<!DOCTYPE html>
<html th:with="lang = ${#locale.language}" th:lang="${lang}" dir="ltr" data-bs-theme="light" data-color-theme="Blue_Theme"
      data-layout="vertical" xmlns:th="http://www.thymeleaf.org" lang="aa">

<head th:replace="~{dashboard/frag-dash-head :: head ('Error - 403')}"></head>

<body>

<div th:replace="~{dashboard/frag-dash-onload :: preloader}"></div>

  <div id="main-wrapper">
    <div class="position-relative overflow-hidden min-vh-100 w-100 d-flex align-items-center justify-content-center">
      <div class="d-flex align-items-center justify-content-center w-100">
        <div class="row justify-content-center w-100">
          <div class="col-lg-4">
            <div class="text-center">
              <img src="/dashboard/assets/images/backgrounds/403-img.svg" alt="" class="img-fluid" width="500">
              <h1 class="fw-semibold mb-7 fs-9">Halte! Qui vas là ?</h1>
              <h4 class="fw-semibold mb-7">Vous n'êtes pas autorisé à accéder à cette page</h4>
              <a class="btn btn-primary rounded-5" href="/" role="button">Retourner à l'accueil</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <footer th:replace="~{dashboard/frag-dash-footer}"></footer>
</body>

</html>